html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1, p {
  margin: 0.63em 0;
}

ul {
  padding: 0 0 0.63em 0.63em;
}

li {
  margin: 0 0 0.63em 0.63em;
}

.content {
  padding: 1px 1.13em 0;
}

.element {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
